# **Day 1 Coding**

In [ ]:
print("This is my first day coding python")

This is my first day coding python

LOOPS IN PYTHON

In [ ]:
#Top 10 natural number
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Top 10 natural number ko square
for i in range(1,11):
 print(i*i)

1
4
9
16
25
36
49
64
81
100

FUNCTIONS IN PYTHON

In [ ]:
# Declaring function to calculate square of a number
def calculate_square(length):
  return length * length

# calling a function to print square of first square
print( "The area of first square is:",calculate_square(6))

The area of first square is: 36

In [ ]:
def calculate_square(length):
  return length * length

# calling a function to print square of second square
print( "The area of second square is:",calculate_square(10))
print( "The area of third square is:",calculate_square(16))

The area of second square is: 100
The area of third square is: 256

In [ ]:
Find Area of circle

LISTS IN PYTHON

In [ ]:
fruits = ["apples", "banana", "mango", "litchi", "kiwi"]
print(fruits)

# # Accessing elements from the list
# print(fruits(0)) #first index
# print(fruits(-1))
# print(fruits(4))

# Adding and removing elements from the list
# fruits.append("pineapple")
# print(fruits)

# fruits.remove("mango")
# print(fruits)

['apples', 'banana', 'mango', 'litchi', 'kiwi']
['apples', 'banana', 'litchi', 'kiwi']

SETS AND TUPLES (HOME RESEARCH)

DICTIONARY IN PYTHON

In [ ]:
student = {
    "name" : "Bbek",
    "class" : 7,
    "gender" : "Male"
}
#Accessing values from keys in a dictionary
print(student["name"])
print(student["class"])

#Updating value of a particular key in a dictionary
student["gender"] = "female"
print(student)
student["name"] = "Sita"
print(student)

#Adding a new key value pair into the existing dictionary
student["roll_no"] = 10
print(student)

#Deleting a key value pair from the existing dictionary
del student["class"]
print(student)

Bbek
7
{'name': 'Bbek', 'class': 7, 'gender': 'female'}
{'name': 'Sita', 'class': 7, 'gender': 'female'}
{'name': 'Sita', 'class': 7, 'gender': 'female', 'roll_no': 10}
{'name': 'Sita', 'gender': 'female', 'roll_no': 10}

#HomeWork

Simple Interest Calculator
Goal: Build a program that calculates the simple interest earned on a deposit.
Hints:
• Ask the user to input principal amount, rate of interest, and time in years.
• Use the formula: SI = P×R×T
100 .
• Display the simple interest with appropriate formatting.

In [ ]:
principal = 15000
rate = 3.5
time = 1
simple_interest = (principal * rate * time) / 100
print(f"The simple interest earned is: Rs.{simple_interest}")

The simple interest earned is: Rs.525.0

Age Calculator
Goal: Create a program that calculates a person’s age based on their birth year. (in python language)
Hints:
• Ask the user to input their birth year.
• Use the current year (you can hardcode it or use the datetime module).
• Subtract the birth year from the current year and display the result.

In [ ]:
birth_year = int(input("Enter your birth year: "))
current_year = int(2025)
age = current_year - birth_year
print(f"You are {age} years old.")

Enter your birth year: 1991
You are 34 years old.

Currency Converter
Goal: Write a program that converts an amount from one currency to another.
Hints:
• Ask the user to input the amount in their local currency.
• Use a fixed exchange rate (e.g., 1 USD = 132 NPR).
• Convert and display the amount in the target currency.

In [ ]:
exchange_rate = 132
npr = 15000
usd = npr / exchange_rate
print(f"{npr} NPR is equivalent to ${usd:} USD")

15000 NPR is equivalent to $113.63636363636364 USD

BMI Calculator
Goal: Create a program to calculate Body Mass Index (BMI).
Hints:
• Ask the user to input their weight (in kg) and height (in meters).
• Use the formula: BMI = weight/height*2 .
• Print the BMI value with a message indicating the weight category (e.g., underweight, normal,
overweight).

##calculate BMI

In [ ]:
def calculate_bmi(weight, height):
  bmi = weight / (height ** 2)
  return bmi

def interpret_bmi(bmi)
if bmi < 18.5:
    category = "Underweight"
elif 18.5 <= bmi < 24.9:
    category = "Normal weight"
elif 25 <= bmi < 29.9:
    category = "Overweight"
else:
  return "obese"


weight = float(input("Enter your weight (in kg): "))
height = float(input("Enter your height (in meters): ")

calculate_bmi(weight, height):
category = interpret_bmi(bmi)

print(f"Your BMI is: {bmi:.2f}")
print(f"You are categorized as: {category}")

SyntaxError: expected ':' (<ipython-input-4-ccd9b9ca7376>, line 5)